@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
  --obsidian: #020202;
  --gold: #AF8F2C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--obsidian);
  color: white;
  overflow-x: hidden;
}

::selection {
  background-color: var(--gold);
  color: var(--obsidian);
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }
}

.canvas-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--obsidian);
  overflow: hidden;
}

.canvas-container canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--obsidian);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gold);
}